# created by virtualenv automatically
Lib
Scripts
Neural Networks/RNN - LSTM/Lectures
Neural Networks/RNN - LSTM/Labs
Neural Networks/RNN - LSTM/HWs/RNN_LSTM_2/0880802_HW3.pdf
Neural Networks/RNN - LSTM/HWs/RNN_LSTM_1/LSTM_Practice1_HuyRev.pdf
Neural Networks/ANN/ANN.ipynb
Numpy/Flask
Open CV/IntroduceOpenCv.ipynb
share
Resume Screening